{
	"arrowParens": "avoid",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"cursorOffset": -1,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"jsxSingleQuote": false,
	"printWidth": 88,
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": true,
	"trailingComma": "none",
	"useTabs": true
}
